<% include partials/main-header %>

<h1>This is the <%= 5+5 %> home page</h1>


<% include partials/main-footer %>

<% posts.forEach(function(post){ %>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }) %>
