body {
    font-family: source-han-serif-sc;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

.date {
    font-weight: 700;
    text-align: center;
}

.heading {
    font-weight: 400;
    text-align: center;
}

.heading::after {
    content: '';
    border-bottom: 1px solid black;
    height: 10px;
    width: 80%;
    margin: 0px auto;
    display: block;
}


.zhongsheng p, .ruiping p {
    font-weight: 400;
    font-size: 1.2rem;
}

.ruiping .heading, .zhongsheng .heading {
    font-weight: 400;
}

p{
    font-weight: 300;
}

.date::before {
    content: '';
    position: relative;
    width: 100%;
    height: 1px; 
    background: black; 
    display: block;
}

.hide {
    display: none;
}

.alert {
    color: black;
}